<!DOCTYPE html>
{% extends 'base.html'%}

{%block body_block%}
<div class="post-list-container">
    {% for post in post_list %}
    <div class="post">
        <h3><a href="{% url 'post_detail' pk=post.pk %}" class="post-title" style="text-decoration: none; color: white">{{ post.title }}</a></h3>
        <div class="post-meta">
        <p>By {{ post.author }}</p>
        <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
        </div>
        <hr>
    <a href="{% url 'post_detail' pk=post.pk %}" class="read-more">Read more →</a>
    <div class="post-comment" style="color:white">Comments: {{ post.approve_comments.count }}</div>
    </div>
    {% if not forloop.last %}
        <hr>
    {% endif %}
    {% empty %}
    <p>No posts available.</p>
    {% endfor %}
    
    
</div>

{%endblock%}
