<!DOCTYPE html>
{% extends 'Main_Blog/base.html'%}

{%block body_block%}
<div class="jumbotron form-container">
    <h2 class="text-center">Welcome to the Blog</h2>
    <h1>Please Login:</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
      
        <input type="submit" class="btn btn-success" value="Login"/>
        <input type="hidden" name="next" value="{{next}}">
    </form>
      
      {% if form.errors %}
        <p style="color: red;">{{ form.errors }}</p>
      {% endif %}
</div>
{%endblock%}
